*{
    margin: 0;
}

.nav {
    width: 100%;
    background-color: black;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.mNav {
    display: none;
}

@media (max-width: 800px) {
    .nav { 
        display: none;
    }

    .mNav {
        display: block;
        background-color: black;
        color: white;
    }
}

@media print {
    * {
        display: none;
    }
}