/* External CSS */

* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBJS8kT62cQtNH-ZoBxeeF0iX44LPe3-YrtA&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    /* font-size: 32px; */
}

p {
    font-family: Arial, sans-serif;
    /* 16px = 1 rem */
    font-size: 1rem; 
    font-style: italic;
    text-align: right;
    line-height: 1.7;
    letter-spacing: 2px;
    word-spacing: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}

ol {
    color: blue;
}
h6 {
    color: green;
}
h1 {
    color: rgb(0, 0, 255);
}
.italic {
    font-style: italic;
}
.type-red {
    color: rgba(137, 21, 21, 0.3);
}

ol {
    list-style: lower-roman;
}
.type-blue {
    color: blue;
}
.italic, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* span a {.  Descendent Selector
    color: black;
    padding: 10px;
    text-decoration: none;
} */
/* Child Selector */
span > a {
    color: black;
    padding: 10px;
    text-decoration: none;
}
/* Adjacent Selector */
.type-blue + ul {
    color: rgb(137, 21, 21);
    list-style: square;
}
/* General sibling */
h6 ~ a {
    background-color: yellow;
}

#listHere {
    color:hsl(00, 100%, 50%);
}

/* Pseudo elemets */

h1::first-letter {
    color: red;
}

p::first-line {
    background-color: yellow;
}

h1::after{
    content: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUREhIWFRUXFRcWFxcWFhYVFxUWFRUXFhUVFxcYHSggGBolGxUVITEhJikrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGy0lICUtLS0vMi0vLS0tLy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBEQACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAAAwUCBAYBBwj/xABDEAACAQIDBAcEBQoFBQAAAAABAgADEQQSIQUGMUETIlFhcYGRMlKhsSNCYnLBFBUzU4KSorLR8AdzwtLhJDRDk7P/xAAbAQEAAgMBAQAAAAAAAAAAAAAAAwQBAgUGB//EADMRAAICAQMCAwYFBAMBAAAAAAABAgMRBBIhBTETQVEiMmFxgZEUUqGx0SNCwfAVM+E0/9oADAMBAAIRAxEAPwD7fMGBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAixGJSmL1HVB2swUfGYlJR5bwbRhKXEVk1htrDHQYil/7E/rI1fW/wC5fc38C38r+zN1GBFwQR2jUSVPJG013PYMCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgFRvBtc0QEpgGq98t+CgcXbuHZzMpa7Wx01e59/It6XTeK8vsjlxh8zZ6hNRzxZtT5Dgo7hPG36y2+WZM7KUYLbFYN/CbMFTjYDwBm+l0s7n3wiG3UeH8SX8yVKPXw1TKeJX6reKcD5WM68K9TpfarluXoyu9TXd7NsfqXGxNrCuCGGSomjp2X4Mvapnb0mqhqIbl38yjqNO6n6p9mWctFcQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAOIxlTpMRWc8n6Mdy09P5ixnjes2ueocfQ72mjspivXkmppOdCJtKRYYJrTo6aW1YKlyzyWdN7zsVzyilJYKXbA6CrTxS6AMFqd6MbNf5+UgT/D6mM12lw/mW6f6tUq380dRPQnMEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEA8ZrC55QZ7nA7Na65/fZn/fYt+M8Bqp775P4nomtqS9CzpTMCGRsjhLK4WSF9zaw9WXKbSCyBBvIAcNU+7JdbL+jn0a/czpOLkXeFa6ITxKqfgJ6OPYoS7slmTUQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAq95cX0eHqEe0wyL95+qPnfylfVWqqqUmWNLXvtS+py2GGVQBwAA9BaeAk25NndkbtJpLCRDJE4qSdTItplTq25zeu1J8mJQyjT3gxt6LIvMEeJOgA9ZtZd40o1R9TfT1bZbmdhQTKqr2KB6C09qlhYOJJ5eTOZMCAIAgCAIAgCAIAgCAIAgCAIAgCAIBpbS2tSoD6RtTwUas3gokN19dKzN4JqqJ2vEUUNbbuJq/oUFJfeezN6cB8Zx7usNvFS+rOhDRVw/7Hl+iNSphqzfpMVUPg5Uei2nOnrtRLvZj5E6VMfdgRHBsvs4ipf/ADKg/GRfjb49rDf2H3gvsjUxnTNlzVmfISVD2YXIte4sTpMWa+y6Oy3lE1dVceYLGSNMWV/SLYe8NV/qJVdSl7jz+5u1ksKVYEXBuO6V3mLwyJxJRUmdxrtMWqTDeTKie7Lw/TYhV+pTIqOeVx+jXzOvlO10bSudviS7Ig1dnh1/F8fydtPWnDEAQBAEAQBAEAQBAEAQBAEAQBAEAQDn9ubwZSaNCzVODMdVp/7m7vWczXdShp1hcyL+l0Ts9ufC/c5+lRsS7Eu54s2pP99k8jfqbLpbpM6+EltjwifpD2yHczXajwkzDbMrB5aYyZPMsZM5PBQvpN4tsOeCCrsx069LTtA1U+I5eIlrlrE1n9zVWwfDMKGMucpGVhyPzB5iRTpxyuUS7UTUFqVn6OiMzc2+og7WP4cZa0egnqJcLj1IbbYVRzI7TZGzVoU8i6nizHi7HixnsaKI0wUInBuulbLczdkxCIAgCAIAgCAIAgCAIAgCAIAgCAIBQ7zbWKWoUjaowuW/VpwzeJ1AnN6jrVp4YXdl7RabxHul2X6nO0KIUWH/ACTzJPMzxllkpycmdlsmAkZq2S06JPATeNcpdkaSml3GSHHHAyMsxgGJWMGcntLQzMeGYlyjfoNL1UitNGrtjZC1FLLow104+I7/AJyZwa9uH1Xqb0aja9suxabp41GpdEEVHp2DKosDfg47QfnPS9P1ELqlt4+BQ1tMoWZbymb+P2pSo+24v7o6zH9ka+cnu1FdKzN4IKqLLfdRS4nepj+ipAd9Q/6V/rORd1uC4rjn5nQr6Z+eX2K3E7x11Uu9YIBqSEUD+K8pf8vqrJbYY+xY/A0RWWv1OVxu/te5yVmA5XsT52sB4S/XLU49ux5+GP4IXXT5RX6ljsDeWtXVm6aorqesAxI14MAbgDulLU6rVUS4m2mT100zWHFF9R2/iV+urj7agH1W3ymKut3L3kmYn0+l9sotcJvSh0qoafeOuvqNR5idSjq9FnEvZfxKNvTrI8xeS9o1lcBkYMp4EEEHzE6iaayihKLi8MzmTAgCAIAgCAIAgCAQ43FLSptUb2VUsfLlNZyUIuT8jeEHOSivM4SkWYtVf23OZu7sXwA0nhNbqXfa5M9FGCriox8idRKYbJUWbpGjZZYOnOlp4FS2RoYnGUukYdIlwxFsw4jQ/GRX1S8STS8yatS2LgyGvCV3HBtk8KzVozkwImrRkmotJq5EckWOHedKmZUsiUW36TUHFekxW4NyvHKfbHyIjdPT25reN37lzTuN0Nk1nBq4XCs56ouTqTxv3sx/GUMWXT82y1KcK1zwXWF2GONRr9w0HrL9XT13sf2KNmtf9iOZ29st8dX/ACbDqKeHom1Sqfr1Oajm2Xh2Xv3S/Cmupewlkh8WWMzeS92ZuZhKS2NMVDzLTbanzJmkr5f28Fhs7YOHoVDVo08jMuVgpOUi4Ps8L3HHxm6aRFOcpdzerYam3tIp8tfUSOdVU/eijMbJx7NlXithg60zbuPD15Shd05d639GXKtbL+9FHWxbYRs2c0iTwtcP4oPa8Rr3yLS26qie2KfyfYs2Km6OZf8Ap1G7+81LEgC4V+Fr6MRxyk8/snX5z0um1kbfZaxL0/j1ORfpZV+1HmP+9y9lwqCAIAgCAIAgCAc7vlW6tKj775m71p62/eKzldYu8PT4XmdHp0MzcvT/ACUyieLOqyVBNkiNk1MSWC5NJMsabhRfny8Z04SVcc+ZUlFyeDRegre0oPiAZUTfqT5a7Gs2yk4peme1DYea8D6Tfe/Pk38R+fJGz1aftr0i+8gsw8U5+XpNXCMu3DMra+xNRrK4zKQR3cu4jlIJwce6M8ruZA2kaeGMZN3DvL1MivOJJtSiKlFgeQv6cfheXLlvqeO65IqJbLV8eDV3dqfQKOa3U95UkX9LSWqS2ppG+pi/EeSyzyTeQbTxqoGpNh36TG/1MqOTBMWjaKyk9xEwrYvszLqku6JQ823mu0dJG8xtGeZ3jacbvZu3iMXXzrVREVAqA3vfix7rn5CZViXkTQcUjldlUauGxXQVrjPp+0NVYHt5X75Bqvar8SHDiW6niWPJn1Xd7bRf6Gqev9Vv1gHb9ofHj2zpdO6gtRHbL3l+pQ1mk8P24dv2L+dQ54gCAIAgCAIBx+8tS+LC+5RB83c3/kE8z1+fMYnZ6esVN/H/AAaqzzhcZMom6I2TIJNFGjJgJMkR5Mws3SNWz0rGDGQluybRS7MPJrYvZCuc9M5H94c+5hwYeMl8PK4+zMxvceJdjQ6dkbo6wytyYey3h2HuMpWUtcr7eaLMcSWYm1RrZTrwkVdm18mJQ3ItFqDKTyyn5TqwmtjfwKMovcio3eayP/mt+E1rliuPyLepWZlk9YAXJ4TZ2JdyBQzwcNt7bletXOFwlPpq4ALXNqOHU+yarD6x90ayzodBZrfblxDy+P8AvqL9VXpVhcyIvzDtdRnFbCVDx6PI6DvCuNb95nXl0KjHDafzKC6xPPK4Oh3V2+a6tSqo1KvSsKlJ7ZlvwN+DqeTDjONqKbNNPZZ9H6/+l2E4XR3w+q9DoM8i3jaM8zvG08FS/AiY3jaUu8+yunWm6D6WnURl4C6hhmW/hc+U2U000/NNG8JbWQV6RBtcgg3BHEEcCJyITnVPK4aOimpx+DOv2DtPpk62lRdHHyYdx/qOU9ro9UtRWpLv5nA1Wn8GePLyLOWysIAgCAIAgHG7wH/rG/yaf81SeV6//wBsfl/J29B/0/V/siBZwEWWTJJEaMnoC5lipZZFN4J2WxtJpRw8EaeUSLN4mjMmm0jCIG4yHOGSImpPLEJEcomWLwqVUKsAfGTSgrF6PyZpCyVcso5s5qTdE9ypNlY8QfdY8+4zlW15zxhruv8AKOnGSktyJMRiSiHU27O08gO8mR1b5PYnwzOxN5N7Z+EanSUMNfaa3vMbn5zozi48+RVnNTkaO8u0DSoO6jM9gEX3qjEJSTzdlE0rreothSvN8/LzMOXhxc35EuzsLQ2VhF6Yl6tRruVXNVxOIYXcqvP5ACe8qhtShWuEefl7b3SPdl750KtQUqlGrhyxyoaoXKzHgpZScpPK+l9LyadVkFnuapQlwjze7A9C9LGqLNTdadS31qNVwhB+6zK9+WVu2czqdKv00mu8eV9P/Cxo5Oq1LyfBY554/edrByO2ttVqlb8mwtE1qtgxXNkp0kJsHqvyvrZeJtL+i0E9XznETW/Uw0yx3kan5v2zS+kajhawGuSlUqJU8FZxYmdOfQa8exJp/wC/Ipx6s2/ajwXu7e8KYgMvWSohy1KdQZalNuxx2dh5zhaiq7Sz2W/R+TLsJwtjugWGPT63kfwlK9Z9osUyxwa2CxZo1VqjgNHHah4+Y4jw75a6bq/AtWez4ZtqKVdXjz8jvFa4uOBntDzh7AEAQBAEA5PeqnbE039+ky+aNmHwYzzvX6+IzOv06WYSj8TRWeYLzJlkiI2b+ESX9PErWsg2k1UVDkVGWw0JKte2uuokt2zfgUqLhyRU9qKDaoGpH7Y6p8GGk0UX5cm7rflybueatkeDBjNGbII0zGWA0bVJ5bhIglE1dt4MVKZPdY+HI+IkerjwrY913+RLpbNstrOf2dSzddyWdSV14KRpcDt7++UbZ7eIcJ8l+XoWIxlRT7BI7QQfgbTMLGl733IXXGRX7Srq7UCeWKw5ZSLEAVlsbHkCQfKdHpXs6yMpfH9ivq4PwWkR72bxpg8fUxdZGqJhqFJERbZh07dd1vpc9X9ye4jH+i38Tz8pNWxifN8BvY+0No4m4ZaFdHIpls3RdHTAVwfqt1bm3Nu6Z0s3u2vsa6qKSU13TPsu2qhq7J6Sp7T4RWbtzGmG9bypd7Nc/ky1BZsj80YEdTynz3LUODvr3it2FWqUcKtTD4Y4jEYgtiHFwiqjMRTLsRfRFVVUC5ynsJn0HRVxhTCGcJJHA1DcrZSfqbe6e/C4moKFektN3v0bI2enUK6lAeKvYE21vY6y1bS4LcnlEUZRfA373f4bQw6/9RQFyBoa9Ea1KLe8bXK9jAdso6rTx1VTrl38vmTU2Omakux5QxK1aaupurqGUjmCLgzwc8xzGXdcfY78cZyjWqCRRLMTqd1cTmoBTxpkp5DVP4SPSe36bf4uni33XBwtdXsufx5LiXimIAgCAIBRb4UL0RVHGk4c/dPVf4G/lOf1OnxdO0u65L2gs2249eChUzwx2GSqZsiNm7hsVl5Xl2jUbPLJXsq3eZialzc85o5uTyzO3CwiRUVhZtQeXKTV4ZrJtdjUq7Lan1sO1hzpm5Q+HNfL0k8oPGXz+5mNylxMxw2ND3Ugq44qePiO0d4lWaaWfI3cME2eQ7sMztNilUlquZDKJs5uqb8LH5SzuTi0/Qhxho5vZvGqb2HSf6VvOXNcRz6f5OlMsGyEWuY/peeSJb0+CtxNHWxs6nt/vQ+E2hPY8wZYWJLkot8dmVa30gXplan0NVSQHKXJpm5IBKljZtDqL8J6vo/Woz/oX+fmcbW6HPt191/vH8Geyt2GrChRXAHCLSo9DWxDgJUqUyVzhVFiztl9o8MzG/I+hi4VZcXlnKnHfjd5HY72YgdEmHTTpHRAByRCGfyyrb9oTk9Tt8HSzb7vhfUtaSPiXr0XJ6U0t3Txbh7ODsqXOTicdvXiNn0qr0aa1ClKmmV72VaVSshcBdTYNSY9zie70DV2jjNd0cTVNw1G19mcVuds/GU6LY+ohFGrUWrSe6610qgghQbrfrDgL2l3TvKlH4EFvvRZ+kMSeqbyvDuST90+dbA6tI0xotOrWpr3KlZ1QeSgDynhusQUNZNL5/dHd0b3URbNxxOcmXUy03Sq2q1E95A3mhsfgw9J6boVnEofU5/U4ezGX0OrnoTjiAIAgCAY1aYZSrC4III7QdCJhpNYZlNp5RwlXDGhUNBuWtMn61Pl5jgZ4rqejent47M9BTarYbvuSKZzTdokVpsma4JAZupGuDNXm6ng1ccm5QrS7VcV5wNfauzxUGddHGoI4g9o/Ec5vbHjfH6r1M02uL2y7FbhcSWur6OvG3Ajkw7jOdZFL2l2ZcccEy1SDIo2OL4MbFIxx+0sqaDU6Ac2PICWla7PZXHq/gawp9rLNfDYMhApYg6liOJJ1NjykMpqUm8fIklI2Bgl5Fge3Ox+BNpIp+qX2NN7NakHy3IzWJDWFmUjj1eY56ciNJmymLfs8G29ZLBaXV4XBGo7QeIIkcYSjyiNy5I6m2uh+hcVHZfZyqWzKfZu3AHlqeU9po+p0qheM8SX6nG1GitnZuqXD/QiwGFqVKpxNcZTbLTTjkXjqeZJ1PgOzXjdQ1j1U1jiK7fyXaKY6eG1PLfdlqwnNaJUznNubNXP0hbo1bjUAzCk9sod1+tSYWVx9lDplvO10TX+BPw32fb+CrrdOrofFE2ydy6gen+U16ZoUn6RKFFSqM98wZr6AX1sOJ58b+rldlYjHGTlRio93k6ja+1URSWYAAE25m3IDmZBmNS3TaRl77XtgmzkNkMOjF2GclnYA8GdixHkTbynz3XzlbfKxrhs9RVDw4KPojceVESo2NgNbFU+8Ov8Ob/SJ2+iSxqMeqZW16zQ/odrPWHBEAQBAEAQCv21sta6Zb5XU3R+at+IPMSvqdNC+GyRPp73TLK+pyF2VjSqrlqDlyYe8p5rPFavRz088S7HdhONkd0exKDKgwZhpnJjBlmmcmMGS1LTaM2jDjk3sNiJepuyVrKyl24OjqJUUX1y2HMODp6iRygt0oeTWfkWqG5RwyDp6jezTt3uw+S3lfZXHvLPyRLjBJh8NY53OZu3gF+6OUxK3K2xWF/vcw2bymaIjZKJKiNmltPGLhx07aISFqd3JX8uB7vCWqYOz2F38jKW72Syw1dXUOjBlOoI1BjDTwyGSa4PQv0ofkUKnxDAr82kkZLBq/dwbDMO2G0apEbSNm6InW4IIuDxB5iRs2RTYcvTJSjU+hFwAwzZD7tJr8B2G4HLsnVr61fTVteG/L1Ip9Pqtluf6eZgVa91BueLcWPixnJsvndLdY8s6MK4VxwuETdETbONRqL8RKzbXYzleRm80QRPsL/uqXi//wA2na6L/wDSvkyvrv8Aof0/c7aeuOAIAgCAIAgCAae09mU665XGo1VhoyntUyK6iF0ds0S1XTqeYnKY7Z1ah7QNSn+sQagfbQajxFxPL6zo1lftV8o7FOrrs78M16VZWF1II7pxZQlF4ZaaJLzU1wLwMHq1LagzZZTyg1nhmpVc1nFtVTVj9q1lUeGplpRltcn3f7GViBOsqsyyQTU1ZKk2RoyVTJYmjNLeHCdNha1PtQ28QLj5S1p57LIy+Ig8SRzP+FGMFbDNQDZK9BiCOIemxJUsvOxzLfQiw1nrZ6GrUx54fqc/U6idVue8X/vB2T4hk/SIQPeXrIfxXzE4Wp6dqKOcZXqiaq6u33Xz6MyTGKdQb+E5jsxwyx4TMhiBHiox4bPenWN8WNjIyFtpbTgJHNJ8myyVlXMTZahLc7AZVHfpx7r3jEUsyXH6smXxJc78Gsw94aW8QfwkUpRkv9/cJLuj15ojdG1u5TzYpfso7etlH8xnd6HDNzl6Iq9QlinHqzs56o4QgCAIAgCAIAgCAVeP3foVTmK5H9+mcjedtD5iVrtHTd78SzVq7a+E+PiVVTdaoPYxAP36YJ9VI+U5k+hVP3ZNFyPUvzR+zMBuziP11L9xv90i/wCBj+Y2/wCSh+VmxQ3TH/mrM491QKanxtr8Zap6NRB5fJFPqM37qwauMwi0cTkVQqVEBUDQBl6pt/D+9KfUqIwuTSwmsfVE1Fjspy3lpmviaFtZxb6muS1XPPBEJTJCRDMpmjRKpkiZo0ZgyRM1Z8Q2xiK2zNpvVoGxDZgCOq9N9SjDmDb5T2Wgu30xl9CnqYJvnzPtO5m+GF2in0bZKwHXosRnHaV99e8edp0lYcudOGXeI2HSbUoL9o6p9VsZDbpqLvfgmSV33V+7Jmm+7q8nqD9oH+YGUZdF0cuya+pYXUr13w/ofP8Ae7bVWhi0weFYVXIGfOAcrN7K9W3BdT4iUb+laWrLy8L4nV0ls7YbppL0Omw2COUdK5Zra2OVb9wHKeenOKfsLC+5K5+hsBQBYCw7BIJNvuYMDNDdETmbo2SLzc+h+lq94pj9nVvi1vKes6JTtqc35s5XUrMyUPTk6Sdo5ggCAIAgCAIAgCAIAgCAIBS71YUtSFRfapHP+z9cemv7ModS07upeO65Rc0VqhZh9nwaVJhUQOOfHxnBwra9xcea5uJX1qWU905V1Tgy3Ce5GAMgNmSAzZGmCQNN0zVo47f3d+lXKVnB0GQleV9QT2zs9L1Ti3WT0U12vZNfI+Xbd2LUwlRWVjb2qdRSQR5jgZ6Oq3f8yjq9H4TyuV+x0uxP8WtpUFCM9PEKP1ykt++hBPneTbih4SZYbQ/xhx9VSlOnRok/WUMzDwzGwPkZpKbJ6dJFvky/wxwJqVquKqEsRpmY3JdtWYk8TOD1e7bBQXmdWSUY4R9IYzzjZGiNjNGzdIwYzKRk16jHkLkkADtJNgPWT01uyagu7N21FZZ3Wy8GKNJKfGw1Pax1Y+ZJnvKKlVWoLyR5u6x2Tcn5m1JSIQBAEAQBAEAQBAEAQBAEAEQDkSn5LXNM/on1Q9g7PFb+hE83qqnpb8/2S/RnYhL8RVn+5G5i8NcSG+hSRpXZgqKiFTYziWVuDwy/GSkjwGRmWjMNNsmjRjiKQdSjcCLf8ySFjhJSXkZi3F5R8723hXpMKbi6g3UngQeM9Ppr43Q3I7NNsbFnz8yh29syky9JSXK/1lHA94lyuxp4ZV1OjjJOS7lBQoEkKouxNgBxJPKSSkkssqQgon2zdXZX5Nhlpn2vaf7x4zyGu1PjWuS7eRrJ5ZasZSMJGBMYNiJ2myRukWu6+z879Ow6qXCfafgW8BqPEnsnpujaPH9aX0/k53UNRheGvqdZPQHHEAQBAEAQBAEAQBAEAQBAEAQDU2ps9a9Mo2nNWHFWHAiRX0Rug4SJabpVT3ROewWKakxw9fQj2W5EciD7vy4Ged9rTS8G7t5M6c4Rtj4tX1Rs4zC3kWooUka1W4KmohU2M49lTg+S9GSkjESIyekmZyMGnjKKVVyVVuPl3iT1WTre6tm0cxeYsoK+59M3yViAeRANp0o9Wml7Ucln8VPGGjZ2Duth8MQ4vUqe82tvAcBK+q6hbetvZFdtnRXnNNcGJaZwMETPN0jdIl2dgWxD5FuFHtv7o90faPw4zqdO0D1E8v3V3/gg1OoVMfj5Hc0KKooRRZVAAA5AT2EYqKwux5+UnJ5fczmTUQBAEAQBAEAQBAEAQBAEAQBAEA09qbNSuuV9CNVYe0p7R/TnIdRp4Xw2TRNTfKqW6JzjVKuGOSsM1M6K44eHcfsnyM8/dTdpOJe1D19Dprw9Qt0OJehNUVXF1Nx/fGVbIRsjmPIi5QeGV1WmVM5lle1luMtxgGkWDfB4SDxmeUOTA0x3zbczPJ6oA4TDbYPS8JDaRtUmyibYNnZezHxBuvVp86luPcg5nv4ePCdfQ9Lnc90+I/uVdRq408Ll+n8nZ4PCJSQIgso9SeZJ5k9s9VXXGuKjFYSOFZZKct0u5PNzQQBAEAQBAEAQBAEAQBAEAQBAEAQBAMalMMCrAEHQgi4I7xDSawzKbTyigxe7eU5sM+Q+41yvgDxX4icnUdKhJ7qntf6HQr17xttWV+pV4o1U0rUWH2gMy+q6etpx9Ro9RD345+KLlcqp+5L7leaynVTf0nLcMPBcSeORnmMG2D3PGBgjauBpcX/vlNo1yk8JZHxNvC7Nr1fYpED3n6i/HU+QnQp6VqLPLC+JWs1dVfd5+RfbP3YRbNWPSH3bWQeXFvP0nd0vSqaeZe0/0Obd1Cc+IcL9S+AtoJ1DnnsAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEA1MRsyi+r0UY9pUX9eMjnTXP3op/QljdZH3ZNfU1/zBhv1Q9W/rIfwOn/IvsSfjL/zM9/MGG/UqfG5+BMLRadf2L7D8Xd+Zm3h8HTT2KaJ91QvyliNcY+6kiGVk5e82yebGggCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAIAgCAf//Z");
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, tr {
    padding: 20px;
}

td {
    text-align: center;
}

caption {
    color: green;
    background-color: yellow;
    border: 1px solid red;
}

caption::first-letter {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:nth-last-child(-n + 4) {
    color: green;
}

td:hover {
    background-color: bisque;
    color: blueviolet;
}

h1 {
    text-shadow: 2px 2px 1px gray;
}

#picka {
    width: 100px;
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 140px;
    box-shadow: 2px 2px 5px gray;
}

.card > h4 {
    text-align: center;
}

.inner {
    width: 200px;  
    height: 150px;
}

.outer {
    width: 400px;
    height: 300px;
}

.outer {
    background-color: red;
    border: 20px solid black;
}

.inner {
    background-color: blue;
    margin: 10px;
    /* border: 10px solid green; */
    padding: 20px;
}

/* 
Box modal: Every element is a box with width, padding, marging and border.
Margin moves outward
Padding and border moves inwards (Decreased from original size if box sizing in box modal)

Box Sizing: Calculations we do to calulate size of box either width or height
Content box == Default 
// width + Left Margin + right margin (200 + 10 + 10)
// width + Left Margin + right margin + left Padding + right padding (220 + 20 +20)
Border box == industry standard
// width + Left Margin + right margin - left Padding - right padding (220 - 20 - 20)
*/
