/* External CSS */

* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBJS8kT62cQtNH-ZoBxeeF0iX44LPe3-YrtA&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    /* font-size: 32px; */
}

p {
    font-family: Arial, sans-serif;
    /* 16px = 1 rem */
    font-size: 1rem; 
    font-style: italic;
    text-align: right;
    line-height: 1.7;
    letter-spacing: 2px;
    word-spacing: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}

ol {
    color: blue;
}
h6 {
    color: green;
}
h1 {
    color: rgb(0, 0, 255);
    margin-top: 50px;
}
.italic {
    font-style: italic;
}
.type-red {
    color: rgba(137, 21, 21, 0.3);
}

ol {
    list-style: lower-roman;
}
.type-blue {
    color: blue;
}
.italic, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* span a {.  Descendent Selector
    color: black;
    padding: 10px;
    text-decoration: none;
} */
/* Child Selector */
span > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    /* visibility: hidden; */
}
/* Adjacent Selector */
.type-blue + ul {
    color: rgb(137, 21, 21);
    list-style: square;
}
/* General sibling */
h6 ~ a {
    background-color: yellow;
}

#listHere {
    color:hsl(00, 100%, 50%);
}

/* Pseudo elemets */

h1::first-letter {
    color: red;
}

p::first-line {
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, tr {
    padding: 20px;
}

td {
    text-align: center;
}

caption {
    color: green;
    background-color: yellow;
    border: 1px solid red;
}

caption::first-letter {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:nth-last-child(-n + 4) {
    color: green;
}

td:hover {
    background-color: bisque;
    color: blueviolet;
}

h1 {
    text-shadow: 2px 2px 1px gray;
}

#picka {
    width: 100px;
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 140px;
    box-shadow: 2px 2px 5px gray;
}

.card > h4 {
    text-align: center;
}

.inner {
    width: 200px;  
    height: 150px;
}

.outer {
    width: 400px;
    height: 300px;
}

.outer {
    background-color: red;
    border: 20px solid black;
    padding: 10px;
}

.inner {
    background-color: blue;
    margin: 10px;
    /* border: 10px solid green; */
    padding: 20px;
}

.navbar {
    position: fixed;
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 50px;
    top: 0;
    padding: 10px;
    color: white;
}

/*
display: none and visibility: hidden --> Both hide the item from browser window.
 display: none --> Remoevs space
 isibility: hidden --> Keeps space
 */